@charset "UTF-8";
body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

body, html {
  width: 100%;
  height: 100%; }

.center-set:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }
.center-set .center-set__item {
  display: inline-block;
  vertical-align: middle; }
.center-set.display-table {
  display: table;
  width: 100%; }
  .center-set.display-table .center-set__item {
    display: table-cell; }

.full-parent {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/static/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("/assets/static/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("/assets/static/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("/assets/static/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("/assets/static/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("/assets/static/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.icon-2x {
  font-size: 2em; }

.icon-3x {
  font-size: 3em; }

.icon-4x {
  font-size: 4em; }

.icon-5x {
  font-size: 5em; }

.icon-fw {
  width: 1.28571em;
  text-align: center; }

.icon-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .icon-ul > li {
    position: relative; }

.icon-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .icon-li.icon-lg {
    left: -1.85714em; }

.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.icon-pull-left {
  float: left; }

.icon-pull-right {
  float: right; }

.icon.icon-pull-left {
  margin-right: .3em; }
.icon.icon-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.icon.pull-left {
  margin-right: .3em; }
.icon.pull-right {
  margin-left: .3em; }

.icon-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.icon-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
  -webkit-filter: none;
  filter: none; }

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.icon-stack-1x, .icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.icon-stack-1x {
  line-height: inherit; }

.icon-stack-2x {
  font-size: 2em; }

.icon-inverse {
  color: #fff; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-close:before,
.icon-times:before {
  content: ""; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body.auth-newlogin .center-set {
  width: 100%;
  height: 100%; }

body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif; }

.btn {
  display: inline-block; }
  .btn:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  .btn.display-table {
    display: table;
    width: 100%; }
  button.btn {
    border: 0;
    background-color: transparent;
    padding: 0; }
  .btn:focus {
    outline: none; }

.form .form__btn {
  cursor: pointer;
  padding: 10px 20px; }

.form-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px; }
  .form-checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form-checkbox input[type="checkbox"] + div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #898989;
    border-radius: 50%;
    text-align: center; }
    .form-checkbox input[type="checkbox"] + div:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle; }
    .form-checkbox input[type="checkbox"] + div.display-table {
      display: table;
      width: 100%; }
    .form-checkbox input[type="checkbox"] + div:after {
      font-family: FontAwesome;
      color: #0f8ffe;
      font-size: 12px;
      position: relative;
      top: -1px;
      content: ""; }
  .form-checkbox input[type="checkbox"]:checked + div:after {
    content: ""; }

.form-field {
  padding: 5px 10px;
  border: 1px solid #a3a3a3; }
  .form-field input {
    border: 0;
    width: 100%; }
    .form-field input:focus {
      outline: none; }
  .form-field textarea {
    border: 0;
    width: 100%;
    resize: none; }
    .form-field textarea:focus {
      outline: none; }

.text--red, body.auth-newlogin .login-form .form-field.error, body.auth-newlogin .login-form .form-field.error + .tip {
  color: #f26c4f; }

.text--blue {
  color: #0088ff; }

.text--green, body.auth-newlogin .login-form .form-field.success + .tip {
  color: #d6e9ba; }

.text--yellow {
  color: #e22cf8; }

.text--purple {
  color: #e22cf8; }

.text--grey {
  color: #464646; }

[compile] {
  opacity: 0; }

.btn.form__btn {
  border: 1px solid #d6d6d6;
  border-radius: 15px; }

.form__btn.submit-btn {
  color: #ffffff;
  background-color: #0088ff; }
  .form__btn.submit-btn:hover {
    background-color: #33a0ff; }

body.auth-newlogin .center-set {
  text-align: center; }
body.auth-newlogin .login-form {
  width: 240px; }
  body.auth-newlogin .login-form .form__group {
    position: relative; }
  body.auth-newlogin .login-form .form-field {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 15px; }
    body.auth-newlogin .login-form .form-field.success + .tip {
      border-color: #d6e9ba;
      opacity: 1; }
      body.auth-newlogin .login-form .form-field.success + .tip .icon:before {
        content: ""; }
    body.auth-newlogin .login-form .form-field.error + .tip {
      border-color: #f26c4f;
      opacity: 1; }
      body.auth-newlogin .login-form .form-field.error + .tip .icon:before {
        content: ""; }
  body.auth-newlogin .login-form .submit-btn {
    margin-top: 20px; }
  body.auth-newlogin .login-form .remeberme-set {
    margin-top: 20px; }
  body.auth-newlogin .login-form .tip {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 0;
    left: auto;
    bottom: 0;
    margin: auto;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 16px;
    opacity: 0; }



/*# sourceMappingURL=../map/auth/newlogin.css.map */
