@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0; }

body, html {
  width: 100%;
  height: 100%; }

.center-set:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }
.center-set .center-set__item {
  display: inline-block;
  vertical-align: middle; }
.center-set.display-table {
  display: table;
  width: 100%; }
  .center-set.display-table .center-set__item {
    display: table-cell; }

.full-parent {
  width: 100%;
  height: 100%; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/static/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("/assets/static/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("/assets/static/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("/assets/static/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("/assets/static/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("/assets/static/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.icon-2x {
  font-size: 2em; }

.icon-3x {
  font-size: 3em; }

.icon-4x {
  font-size: 4em; }

.icon-5x {
  font-size: 5em; }

.icon-fw {
  width: 1.28571em;
  text-align: center; }

.icon-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .icon-ul > li {
    position: relative; }

.icon-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .icon-li.icon-lg {
    left: -1.85714em; }

.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.icon-pull-left {
  float: left; }

.icon-pull-right {
  float: right; }

.icon.icon-pull-left {
  margin-right: .3em; }
.icon.icon-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.icon.pull-left {
  margin-right: .3em; }
.icon.pull-right {
  margin-left: .3em; }

.icon-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.icon-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
  -webkit-filter: none;
  filter: none; }

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.icon-stack-1x, .icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.icon-stack-1x {
  line-height: inherit; }

.icon-stack-2x {
  font-size: 2em; }

.icon-inverse {
  color: #fff; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-close:before,
.icon-times:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-up:before {
  content: ""; }

.icon-angle-down:before {
  content: ""; }

.btn {
  display: inline-block; }
  .btn:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  .btn.display-table {
    display: table;
    width: 100%; }
  button.btn {
    border: 0;
    background-color: transparent;
    padding: 0; }
  .btn:focus {
    outline: none; }

.text--red {
  color: #f26c4f; }

.text--blue {
  color: #0088ff; }

.text--green {
  color: #d6e9ba; }

.text--yellow {
  color: #e22cf8; }

.text--purple {
  color: #e22cf8; }

.text--grey {
  color: #464646; }

.list-group {
  padding-left: 0;
  margin: 0; }
  ul.list-group {
    list-style: none; }
  .list-group .list-group__item {
    padding: 20px 50px; }

.calendar {
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px; }
  .calendar .calendar__prev {
    text-align: center; }
  .calendar .calendar__next {
    text-align: center; }
  .calendar .calendar__month {
    text-align: center; }
  .calendar .calendar__year {
    text-align: center; }
  .calendar .calendar__item {
    text-align: center;
    width: 35px;
    height: 35px; }
  .calendar .calendar__body {
    margin-top: 30px; }

[compile] {
  opacity: 0; }

.btn.form__btn {
  border: 1px solid #d6d6d6;
  border-radius: 15px; }

.form__btn.submit-btn {
  color: #ffffff;
  background-color: #0088ff; }
  .form__btn.submit-btn:hover {
    background-color: #33a0ff; }

.center-set.table {
  width: 100%;
  display: table; }
  .center-set.table .center-set__item {
    display: table-cell; }

.calendar {
  color: #ffffff;
  background-color: #0088ff; }
  .calendar .calendar__year {
    margin-top: 10px; }
  .calendar .calendar__item {
    cursor: pointer; }
    .calendar .calendar__item--prev-month {
      color: #c2c2c2; }
    .calendar .calendar__item--next-month {
      color: #c2c2c2; }
    .calendar .calendar__item--current-day {
      border-radius: 100%;
      color: #0088ff;
      background-color: #ffffff; }
.list-group--custom {
  height: 210px;
  width: 275px;
  position: relative;
  top: 10px; }
  .list-group--custom .list-group__item {
    padding: 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-transition: top 0.75s ease, opacity 0.75s ease;
    transition: top 0.75s ease, opacity 0.75s ease; }
    .list-group--custom .list-group__item .text {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      -webkit-transition: width 0.75s ease, background-color 0.75s ease;
      transition: width 0.75s ease, background-color 0.75s ease; }
  .list-group--custom .list-group__item.list-group__item--top {
    z-index: 8;
    top: 5px;
    opacity: 1; }
    .list-group--custom .list-group__item.list-group__item--top .text {
      width: 80%;
      color: #1a94ff;
      background-color: rgba(255, 255, 255, 0.7); }
  .list-group--custom .list-group__item.list-group__item--top + .list-group__item {
    z-index: 9;
    top: 40px;
    opacity: 1; }
    .list-group--custom .list-group__item.list-group__item--top + .list-group__item .text {
      width: 90%;
      color: #007ae6;
      background-color: rgba(255, 255, 255, 0.8); }
  .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item {
    z-index: 10;
    top: 75px;
    opacity: 1; }
    .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item .text {
      width: 100%;
      color: #005fb3;
      background-color: rgba(255, 255, 255, 0.9); }
  .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item {
    z-index: 9;
    top: 110px;
    opacity: 1; }
    .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item .text {
      width: 90%;
      color: #007ae6;
      background-color: rgba(255, 255, 255, 0.8); }
  .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item + .list-group__item {
    z-index: 8;
    top: 145px;
    opacity: 1; }
    .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item + .list-group__item .text {
      width: 80%;
      color: #1a94ff;
      background-color: rgba(255, 255, 255, 0.7); }
  .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item + .list-group__item + .list-group__item {
    z-index: 7;
    top: 180px;
    opacity: 1;
    opacity: 0; }
    .list-group--custom .list-group__item.list-group__item--top + .list-group__item + .list-group__item + .list-group__item + .list-group__item + .list-group__item .text {
      width: 70%;
      color: #4dacff;
      background-color: rgba(255, 255, 255, 0.6); }



/*# sourceMappingURL=../map/ui/common.css.map */
