<dom-module id="dropdown-menu">
    <!-- ... your custom element here... -->
    <template>
        <div>
            <content></content>
        </div>
    </template>

    <script>
        var dropdownMenu = {
            properties: {
                isClosed: {
                    type: Boolean,
                    value: true
                }
            },

            ready: function () {
                var self = this;
            },

            close: function() {
                var self = this;
                if (self.classList.contains("dropdown-menu--open")) {
                    self.classList.remove("dropdown-menu--open");
                }
                self.classList.add("dropdown-menu--close");
                self.isClosed = true;
            },

            open: function() {
                var self = this;
                if (self.classList.contains("dropdown-menu--close")) {
                    self.classList.remove("dropdown-menu--close");
                }
                self.classList.add("dropdown-menu--open");
                self.isClosed = false;
            },

            toggle: function() {
                var self = this;
                if (self.isClosed) {
                    self.open();
                } else {
                    self.close();
                }
            }
        };

        Polymer(dropdownMenu);
    </script>
</dom-module>