<dom-module id="lfx-player">
    <template src="{{src}}">
        <div class="lfx-player" on-mouseleave="mouseLeaveHandle" on-mouseenter="mouseEnterHandle">
            <video id="videoMedia" src$="{{src}}"
                   on-loadstart="HanlderLoadStart" on-timeupdate="HandlerTimeUpdate" on-progress="HanlderProgress" on-ended="HandlerPlayEnd"></video>
            <div class="lfx-player__controlbar">
                <div id="volume" class="btn lfx-player__volume">
                    <iron-icon icon="av:volume-up"></iron-icon>
                    <input id="videovolume" type="range" min="0" max="1" step="0.01" value="100">
                </div>
                <div id="toggle" class="btn lfx-player__toggle" on-click="hanlderToggleButton">
                    <iron-icon icon="av:play-arrow"></iron-icon>
                </div>
                <content select=".controlbar"></content>
                <div class="btn lfx-player__full">
                    <iron-icon icon="icons:fullscreen"></iron-icon>
                </div>
            </div>
            <div id="progress" class="lfx-player__progress">
                <!--<paper-slider min="0" max="{{duration}}" step="3"-->
                              <!--value="{{currentTime}}" on-immediate-value-change="HandlerTimeChange"></paper-slider>-->
                <input id="videorange" type="range" min="0" step="0.01" max="{{duration}}" value="{{currentTime}}" data-buffer="0" data-rangeSlider>
                <input id="videoprogress" type="range" value="{{currentTime}}" step="0.01" data-rangeSlider>
            </div>
            <content select="after"></content>
        </div>
    </template>

    <script>
        Polymer({
            is: 'lfx-player',
            properties: {
                src: {
                    type: String
                },
                duration: {
                    type: Number
                }
            },

            ready: function(){
                var self = this;
                self.initEle();
                self.showToggle('av:play-arrow', 'av:pause');
                self.currentVolume = self.$.videoMedia.volume;
                self.showVolume('av:volume-up', 'av:volume-mute');
                self.classList.add('mouseenter');
                self.changing = false;
            },

            initEle: function() {
                var self = this;
                var videorange = self.$.videorange;
                var videoprogress = self.$.videoprogress;
                var videovolume = self.$.videovolume;
                rangeSlider.create(videorange, {
                    onSlide: function(value, parent, position) {
                        self.pause();
                        self.HandlerTimeChange(value);
                    },
                    onSlideEnd: function() {
                        self.play();
                        self.changing = false;
                    }
                });
                rangeSlider.create(videoprogress, {
                    startEvent: []
                });
                rangeSlider.create(videovolume, {
                    onSlide: function(value, parent, position) {
                        self.HandlerVolumeChange(value);
                    }
                });
            },

            HanlderLoadStart: function() {
                // 影片加载开始
                var self = this;
                setTimeout(function () {
                    self.currentTime = self.$.videoMedia.currentTime;
                    self.duration = self.$.videoMedia.duration;
                    self.updatePaperSlider(self.$.videoMedia.buffered.end(0));
                }, 1000);
                self.$.videorange.rangeSlider.update();
                self.$.videovolume.value = 100;
                self.$.videovolume.rangeSlider.update();
            },

            updatePaperSlider: function(value) {
                var self = this;
                // 更新加载进度
                self.$.videoprogress.value = (value / self.duration) * 100;
                self.$.videoprogress.rangeSlider.update();
            },

            hanlderToggleButton: function() {
                var self = this;
                if (self.$.videoMedia.paused) {
                    self.play();
                } else {
                    self.pause();
                }
            },

            play: function() {
                var self = this;
                self.$.videoMedia.play();
                self.showToggle('av:pause', 'av:play-arrow');
            },

            pause: function() {
                var self = this;
                self.$.videoMedia.pause();
                self.showToggle('av:play-arrow', 'av:pause');
            },

            showToggle: function(newState, oldState) {
                var self = this;
                var icon = self.$.toggle.children.item(0);
                icon.setAttribute('icon', newState);
            },

            HandlerVolumeChange: function(value) {
                var self = this;
                self.$.videoMedia.volume = value;
                if (value < 0.05) {
                    self.showVolume('av:volume-mute', 'av:volume-up');
                }
                else {
                    self.showVolume('av:volume-up', 'av:volume-mute');
                }
            },

            showVolume: function(newState, oldState) {
                var self = this;
                var icon = self.$.volume.children.item(0);
                icon.setAttribute('icon', newState);
            },

            HandlerTimeChange: function(value) {
                var self = this;
                if (self.duration && !Number.isNaN(self.duration)) {
                    self.changing = true;
                    self.$.videoMedia.currentTime = value / 100 * self.duration;
                }
            },

            HandlerTimeUpdate: function(e) {
                // video 播放时 更新进度条
                var self = this;
                self.$.videorange.value = (self.$.videoMedia.currentTime / self.duration) * 100;
                if (!self.changing) {
                    self.$.videorange.rangeSlider.update();
                }
            },

            HandlerPlayEnd: function(e) {
                console.log('playend');
                var self = this;
                self.showToggle('av:play-arrow', 'av:pause');
            },
            
            HanlderProgress: function(e) {
                var self = this;
                var range = 0;
                var bf = self.$.videoMedia.buffered;
                var time = self.$.videoMedia.currentTime;
                if (bf.length > 0) {
                    var loadEnd = bf.end(bf.length - 1);
                    self.updatePaperSlider(loadEnd);
                }
            },

            enterfun: function() {
                var self = this;
                return self.debounce('enter', function(){
                    self.classList.remove('mouseleave');
                    self.classList.add('mouseenter');
                }, 700);
            },

            leavefun: function() {
                var self = this;
                return self.debounce('leave', function(){
                    self.classList.remove('mouseenter');
                    self.classList.add('mouseleave');
                }, 700);
            },

            mouseEnterHandle: function(e) {
                var self = this;
                self.enterfun();
            },

            mouseLeaveHandle: function(e) {
                var self = this;
//                if (!self.classList.contains('mouseleave')) {
//                    self.leavefun();
//                }
            }
        });
    </script>
</dom-module>
