<dom-module id="simple-slider">
    <template page-num="{{pageNum}}">
        <div id="simpleSliderWrapper" class="simple-slider-wrapper">
            <content></content>
        </div>
    </template>
    <script>
        var simpleSlider = {
            properties: {
                pageNum: {
                    type: Number,
                    value: 1
                }
            },

            ready: function () {
                var self = this;
                self.wrapperDom = self.$.simpleSliderWrapper;
                self.sliderItems = self.wrapperDom.children;
                self.itemWidth = self.sliderItems.item(0).clientWidth;
                self.async(function(){
                }, 1);
            },

            go: function (index) {
                var self = this;
                var width = self.sliderItems.item(0).clientWidth;
                self.transform('translateX(' + (-index * width) + 'px)', self.wrapperDom);
            }
        };

        Polymer(simpleSlider);
    </script>
</dom-module>