@import "../config/color";
@import "../utils/function";
@import "../lfxui/position";
@import "common/article_nav";

main {
  width: 1200px;
  margin: 0 auto;
}

.video-up {
  padding-top: 15px;
  padding-bottom: 15px;
  .video-up-name {
    font-size: 24px;
    color: zhilizhili-color('red');
    span {

    }
  }
}

.video-title {
  margin-top: 15px;
  margin-bottom: 0;
}

.video-play {
  width: 100%;
  lfx-player {
    width: 854px;
    height: 480px;
    > .lfx-player {
      width: 100%;
      height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
    }
    background-color: #000000;
    @at-root {
      .lfx-player {
        cursor: pointer;
        &__controlbar {
          display: flex;
          flex-flow: row;
          width: 370px;
          height: 40px;
          transition: opacity 0.3s ease;
        }
        &__volume {
          display: flex;
          align-items: center;
          @include position-absolute(top 50% left 20px);
          transform: translateY(-50%);
          #videovolume + .rangeSlider {
            margin-left: 10px;
            width: 90px;
          }
        }

        &__toggle {
          @include position-absolute(top 50% left 50%);
          transform: translateX(-50%) translateY(-50%);
        }

        &__list {
          @include position-absolute(top 50% right 45px);
          transform: translateY(-50%);
        }

        &__full {
          @include position-absolute(top 50% right 20px);
          transform: translateY(-50%);
        }

        &__progress {
          transition: opacity 0.3s ease;
          #videorange + .rangeSlider {
            .rangeSlider__fill {
              z-index: 2;
            }
          }
          #videoprogress + .rangeSlider {
            top: -3px;
            .rangeSlider__handle {
              display: none;
            }
            .rangeSlider__fill {
              z-index: 1;
              background: lighten(#3367D6, 27%);
            }
          }
        }
      }
    }
  }

  lfx-player.mouseenter {
    $class: '.lfx-player';
    > .lfx-player {
      cursor: pointer;
      #{$class}__controlbar {
        opacity: 1;
      }
      #{$class}__progress {
        opacity: 1;
      }
    }
  }

  lfx-player.mouseleave {
    $class: '.lfx-player';
    > .lfx-player {
      cursor: pointer;
      #{$class}__controlbar {
        opacity: 0;
      }
      #{$class}__progress {
        opacity: 0;
      }
    }
  }
}

.video-danmu {
  flex-grow: 0;
  flex-basis: 331px;
}