.audio-player-modal {
  z-index: 10; }

.rangeSlider, .rangeSlider .rangeSlider__fill {
  background: #ffffff;
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 3px; }

.rangeSlider {
  position: relative; }
  .rangeSlider--disabled {
    opacity: 0.4; }
  .rangeSlider .rangeSlider__fill {
    background: #3367D6;
    position: absolute;
    top: 0;
    z-index: 2; }
  .rangeSlider .rangeSlider__handle {
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: -5px; }
    .rangeSlider .rangeSlider__handle:after {
      content: "";
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      border-radius: 50%;
      width: 7px;
      height: 7px; }
    .rangeSlider .rangeSlider__handle:active {
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12)); }
    input[type="range"]:focus + .rangeSlider .rangeSlider__handle {
      box-shadow: 0 0 8px rgba(142, 68, 173, 0.9); }
  .rangeSlider .rangeSlider__buffer {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 3px;
    background: #7396e3;
    border-radius: 10px; }

.audio-player--default {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px; }
  .audio-player--default .audio-player__control {
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 20px; }

top-bar {
  background-color: transparent; }
  top-bar .col-xs:nth-of-type(3) {
    border-left: 0; }
  top-bar .search-form .search-group {
    border-bottom: 1px solid #ffffff; }
    top-bar .search-form .search-group input {
      color: #ffffff; }
    top-bar .search-form .search-group button iron-icon {
      color: #ffffff; }
  top-bar .member__action paper-button iron-icon {
    color: #ffffff; }
  top-bar .member__toggle-nav {
    color: #ffffff; }

.nav-item {
  width: 960px;
  height: 450px;
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  line-height: 450px; }

.nav-item.active {
  left: 0 !important;
  top: 0 !important;
  z-index: 1000 !important;
  width: 100vw !important;
  height: 100vh !important;
  opacity: 1 !important; }

.nav-item.hide {
  top: 1024px !important;
  opacity: 0 !important; }

.nav-item:nth-of-type(1) {
  left: 120px;
  top: 260px;
  z-index: 4;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.96; }

.nav-item:nth-of-type(2) {
  left: 180px;
  top: 200px;
  z-index: 3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.72; }

.nav-item:nth-of-type(3) {
  left: 240px;
  top: 140px;
  z-index: 2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.48; }

.nav-item:nth-of-type(4) {
  left: 300px;
  top: 80px;
  z-index: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.24; }

.nav-item:nth-of-type(5) {
  left: 360px;
  top: 20px;
  z-index: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

view-controller {
  display: block;
  width: 100%;
  height: calc(100% - 95px); }
  view-controller > .view-controller {
    width: 100%;
    height: 100%; }

main {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.silder-nav--default {
  list-style-type: none;
  width: 30px;
  padding-left: 0;
  border: 1px solid #63949d;
  text-align: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  left: 40px;
  top: 150px; }
  .silder-nav--default .silder-nav__item {
    margin-top: 15px;
    margin-bottom: 15px; }
    .silder-nav--default .silder-nav__item.iron-selected {
      background-color: #63949d;
      color: #ffffff; }

.gallery-figure--default {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }
  .gallery-figure--default .gallery-figure__img {
    width: 100%;
    height: 100%; }

.member--default {
  position: relative; }
  .member--default .member__logo {
    background-color: #ffffff; }

.body-background {
  background-color: #00b3ee;
  background-image: url("/assets/pc/img/index-bg-1x.jpg");
  background-size: 150%; }

.vis-audio-player {
  position: absolute;
  left: 0;
  top: 230px;
  z-index: 9999;
  width: 100%; }
  .vis-audio-player--default .vis-audio-player__list {
    color: #ffffff; }

.audio-player--default .audio-player__toggle {
  position: relative; }
  .audio-player--default .audio-player__toggle .pause.audio-player {
    position: absolute;
    left: 0;
    top: 0; }
  .audio-player--default .audio-player__toggle .play.audio-player {
    position: relative;
    left: 0;
    top: 0; }
  .audio-player--default .audio-player__toggle .pause.audio-player {
    visibility: hidden; }
  .audio-player--default .audio-player__toggle.playing .pause.audio-player {
    visibility: visible;
    position: relative; }
  .audio-player--default .audio-player__toggle.playing .play.audio-player {
    visibility: hidden;
    position: absolute; }

.silder-nav--default .silder-nav__item {
  padding-top: 0;
  padding-bottom: 0; }
  .silder-nav--default .silder-nav__item .btn {
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px; }
.vis-audio-player--default .vis-audio-player__list a {
  color: #ffffff; }
html toggle-button {
  color: #ffffff; }

#videorange + .rangeSlider .rangeSlider__fill {
  z-index: 2; }

#videoprogress + .rangeSlider {
  top: -3px; }
  #videoprogress + .rangeSlider .rangeSlider__handle {
    display: none; }
  #videoprogress + .rangeSlider .rangeSlider__fill {
    z-index: 1;
    background: #a6bced; }



/*# sourceMappingURL=map/index.css.map */
