* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#slider {
  width: 100%;
  height: 450px;
}

#slider .zhilizhili-slider-wrapper {
  width: 100%;
}

simple-slider .simple-slider-wrapper {
  height:100%;
}

simple-slider-item {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease;
}

.video-card {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  color: #ffffff;
  height:100%;
  background-color: #00acc1;
}

.video-card header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.square-container {
  perspective: 1000px;
}

.square {
  width: 1200px;
  height: 170px;
  background-color: white;
  margin: 0 auto;
  border-radius: 2px;

  transition: transform 1000ms linear,
  box-shadow 100ms linear;
  transform-style: preserve-3d;
  transform: matrix3d(
                  1,	0,	0,	0,
                  0,	1,	0,	0,
                  0,	0,	1,	0,
                  0,	0,	0,	1
  );

  &:hover {
    transition: none;
  }
}

main {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nav-item {
  width: 960px;
  height: 450px;
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  line-height: 450px;
}


// ----
// Sass (v3.3.9)
// Compass (v1.0.0.alpha.20)
// ----

$named-colors: 'AliceBlue', 'AntiqueWhite', 'Aqua', 'Aquamarine', 'Azure', 'Beige', 'Bisque', 'Black', 'BlanchedAlmond', 'Blue', 'BlueViolet', 'Brown', 'BurlyWood', 'CadetBlue', 'Chartreuse', 'Chocolate', 'Coral', 'CornflowerBlue', 'Cornsilk', 'Crimson', 'Cyan', 'DarkBlue', 'DarkCyan', 'DarkGoldenRod', 'DarkGray', 'DarkGrey', 'DarkGreen', 'DarkKhaki', 'DarkMagenta', 'DarkOliveGreen', 'Darkorange', 'DarkOrchid', 'DarkRed', 'DarkSalmon', 'DarkSeaGreen', 'DarkSlateBlue', 'DarkSlateGray', 'DarkSlateGrey', 'DarkTurquoise', 'DarkViolet', 'DeepPink', 'DeepSkyBlue', 'DimGray', 'DimGrey', 'DodgerBlue', 'FireBrick', 'FloralWhite', 'ForestGreen', 'Fuchsia', 'Gainsboro', 'GhostWhite', 'Gold', 'GoldenRod', 'Gray', 'Grey', 'Green', 'GreenYellow', 'HoneyDew', 'HotPink', 'IndianRed', 'Indigo', 'Ivory', 'Khaki', 'Lavender', 'LavenderBlush', 'LawnGreen', 'LemonChiffon', 'LightBlue', 'LightCoral', 'LightCyan', 'LightGoldenRodYellow', 'LightGray', 'LightGrey', 'LightGreen', 'LightPink', 'LightSalmon', 'LightSeaGreen', 'LightSkyBlue', 'LightSlateGray', 'LightSlateGrey', 'LightSteelBlue', 'LightYellow', 'Lime', 'LimeGreen', 'Linen', 'Magenta', 'Maroon', 'MediumAquaMarine', 'MediumBlue', 'MediumOrchid', 'MediumPurple', 'MediumSeaGreen', 'MediumSlateBlue', 'MediumSpringGreen', 'MediumTurquoise', 'MediumVioletRed', 'MidnightBlue', 'MintCream', 'MistyRose', 'Moccasin', 'NavajoWhite', 'Navy', 'OldLace', 'Olive', 'OliveDrab', 'Orange', 'OrangeRed', 'Orchid', 'PaleGoldenRod', 'PaleGreen', 'PaleTurquoise', 'PaleVioletRed', 'PapayaWhip', 'PeachPuff', 'Peru', 'Pink', 'Plum', 'PowderBlue', 'Purple', 'Red', 'RosyBrown', 'RoyalBlue', 'SaddleBrown', 'Salmon', 'SandyBrown', 'SeaGreen', 'SeaShell', 'Sienna', 'Silver', 'SkyBlue', 'SlateBlue', 'SlateGray', 'SlateGrey', 'Snow', 'SpringGreen', 'SteelBlue', 'Tan', 'Teal', 'Thistle', 'Tomato', 'Turquoise', 'Violet', 'Wheat', 'White', 'WhiteSmoke', 'Yellow', 'YellowGreen';

@function randomizeColor(){
  $color: (
          octal: (
                  red: random(256)-1,
                  green: random(256)-1,
                  blue: random(256)-1
          ),
          percent: (
                  red: random(101)-1,
                  green: random(101)-1,
                  blue: random(101)-1,
                  saturation: random(101)-1,
                  light: random(101)-1
          ),
          deg: (
                  hue: random(361)-1
          ),
          fraction: (
                  alpha: random(100)/100
          )
  );
  @return $color;
}

@function color($base, $component) {
  $color: randomizeColor();
  @return map-get(map-get($color, $base), $component);
}

@function getRandomColor($format: NULL) {
  @if $format == "hex" {
    @return rgb(color(octal, red), color(octal, green), color(octal, blue));
  }
  @else if $format == "rgb" {
    @return unquote("rgb(#{color(octal, red)}, #{color(octal, green)}, #{color(octal, blue)})");
  }
  @else if $format == "%rgb" {
    @return unquote("rgb(#{color(percent, red)}%, #{color(percent, green)}%, #{color(percent, blue)}%)");
  }
  @else if $format == "rgba" {
    @return unquote("rgba(#{color(octal, red)}, #{color(octal, green)}, #{color(octal, blue)}, #{color(fraction, alpha)})");
  }
  @else if $format == "%rgba" {
    @return unquote("rgba(#{color(percent, red)}%, #{color(percent, green)}%, #{color(percent, blue)}%, #{color(fraction, alpha)})");
  }
  @else if $format == "hsl" {
    @return unquote("hsl(#{color(deg, hue)}, #{color(percent, saturation)}%, #{color(percent, light)}%)");
  }
  @else if $format == "hsla" {
    @return unquote("hsla(#{color(deg, hue)}, #{color(percent, saturation)}%, #{color(percent, light)}%, #{color(fraction, alpha)})");
  }
  @else {
    @return nth($named-colors, random(147));
  }
}


.nav-item.active {
  left: 0 !important;
  top: 0 !important;
  z-index: 1000 !important;
  width: 100vw !important;
  height: 100vh !important;
  opacity: 1 !important;
}

.nav-item.hide {
  top: 1024px !important;
  opacity: 0 !important;
}

@for $i from 1 through 5 {
  .nav-item:nth-of-type(#{$i}) {
    left: #{60 * ($i - 1) + 120}px;
    top: #{-60 * ($i - 1) + 240}px;
    background-color: getRandomColor("rgb");
    z-index: 5 - $i;
    transition: all 1s ease;
    opacity: 1 / $i;
  }
}