{% set title = '阡陌视频社区' %}
    {% extends 'base/base.jinja2' %}

{% block extendHeader %}{% endblock %}
{% block extendStylesheets %}{% endblock %}

{% block pageContent %}
body
{% endblock %}

{% block extendScript %}
<script></script>
{% endblock %}