.full-parent, html, body, view-controller, view-controller > .view-controller, lfx-view, lfx-view > .lfx-view, scroll-view > .scroll-view > .scroll-view, .lfx-player > video {
  width: 100%;
  height: 100%; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
* {
  -webkit-tap-highlight-color: transparent; }

main {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

view-controller {
  display: block; }

lfx-view > .lfx-view {
  overflow-y: auto;
  position: relative; }

scroll-view > .scroll-view {
  width: 96%;
  height: 450px;
  margin-left: 2%;
  overflow-x: hidden;
  border-bottom: 1px solid #cccccc; }
  scroll-view > .scroll-view > .scroll-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.lfx-player {
  width: 100%;
  height: 180px;
  background-color: #000000; }

.pagenav {
  width: 96%;
  margin-left: 2%;
  border-bottom: 1px solid #cccccc;
  padding-top: 15px; }
  .pagenav .pagenav__item {
    height: 35px;
    text-align: center; }
    .pagenav .pagenav__item.iron-selected {
      color: #64b5f6;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.videoinfo {
  width: 100%; }
  .videoinfo .row {
    width: 100%; }
  .videoinfo__title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0; }
    .videoinfo__title a {
      color: #2196f3;
      text-decoration: none; }
  .videoinfo__up {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0; }
    .videoinfo__up paper-button[role="focus"] {
      color: #ffffff;
      background-color: #2196f3;
      height: 30px;
      border-radius: 20px;
      padding: 0;
      line-height: 28px; }
      .videoinfo__up paper-button[role="focus"] span {
        position: relative;
        top: 1px;
        margin-left: -3px; }
  .videoinfo__up-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9e9e9e; }
  .videoinfo__slug {
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #4caf50; }

.comment {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0; }
  .comment__user {
    padding-left: 15px;
    padding-right: 15px; }
  .comment__user-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9e9e9e; }
  .comment__user-name {
    margin-top: 10px;
    font-size: 12px; }



/*# sourceMappingURL=../map/article/show.css.map */
