@import "../../../public/bower_components/sassstd/src/sassstd";
@import "../../../public/bower_components/scss-lfx-nipponcolor/stylesheets/nipponcolor";

@import "config/color";
@import "../../assets/framework/sass/utils/component";
@import "../../assets/framework/sass/utils/bem";
@import "../../assets/framework/sass/button";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

@import "topbar";
@import "pagination";
@import "components/lfx-player";

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin cycle($r) {
  @include square($r * 2);
  border-radius: 50%;
}

@include component("dropdown-menu") {
  @include block(".dropdown-menu") {
    @include modifiy("close") {
      display: none;
    }

    @include modifiy("open") {
      display: block;
    }
  }
}

@include component("member") {
  @include block(".member") {
    @include modifiy("default") {
      position: relative;
      @include element("logo") {
        @include cycle(20px);
        background-color: material-color("grey");
      }

      @include element("action") {
        color: material-color("grey");
      }
    }
  }
}

