.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

@mixin column($alias) {
  $col-sel: "";
  $col-offset-sel: "";

  @for $i from 1 through 12 {
    $col-sel: $col-sel + ".col-#{$alias}-#{$i}, ";
    $col-offset-sel: $col-offset-sel + ".col-#{$alias}-offset-#{$i}, ";
  }

  $sel: $col-sel + $col-offset-sel;

  .col-xs, #{$sel} {
    box-sizing: border-box;
    flex: 0 0 auto;
  }

  .col-#{$alias} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-#{$alias} {
    justify-content: flex-start;
    text-align: start;
  }

  .center-#{$alias} {
    justify-content: center;
    text-align: center;
  }

  .end-#{$alias} {
    justify-content: flex-end;
    text-align: end;
  }

  .top-#{$alias} {
    align-items: flex-start;
  }

  .middle-#{$alias} {
    align-items: center;
  }

  .bottom-#{$alias} {
    align-items: flex-end;
  }

  .around-#{$alias} {
    justify-content: space-around;
  }

  .between-#{$alias} {
    justify-content: space-between;
  }

  .first-#{$alias} {
    order: -1;
  }

  .last-#{$alias} {
    order: 1;
  }
}

@mixin column-size($alias) {
  @for $i from 1 through 12 {
    .col-#{$alias}-#{$i} {
      flex-basis: percentage($i / 12);
      max-width: percentage($i / 12);
    }
  }
}

@mixin column-offset($alias) {
  $per: 1 / 12;

  @for $i from 1 through 11 {
    .col-#{$alias}-offset-#{$i} {
       margin-left: percentage($per * $i);
    }
  }
}

@include column("xs");
@include column-size("xs");
@include column-offset("xs");

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  @include column-size("sm");
  @include column-offset("sm");
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }
}