@import "config/color";
@import "utils/function";
@import "../../../public/bower_components/sass-material-colors/sass/sass-material-colors";
@import "../../../node_modules/sass-rem/rem";

@mixin host($component, $sel) {
  $parse-sels: selector-parse($sel);
  $parse-sels-length: length($parse-sels);
  @for $i from 1 through $parse-sels-length {
    $parse-sel: nth($parse-sels, $i);
    $parse-sel-node-length: length($parse-sel);
    $usesel: "";
    @for $m from 1 through $parse-sel-node-length {
      $usesel: $usesel + nth($parse-sel, $m) + $component + " ";
    }
    #{$usesel} {
      @content;
    }
  }
}

@mixin nav-content() {
  paper-card {
    width: 100%;
    border: 0;
    box-shadow: none;
    background-color: #f7f8fa;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    paper-material {
      border-radius: 0 !important;
      box-shadow: none !important;
    }

    @include host(".paper-card", ".header .title-text") {
      padding-bottom: 0;
      color: material-color("red");
      @include rem((
              font-size: 16px
      ));
    }

    .card-content {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  paper-menu {
    background-color: #f7f8fa;
  }
}

top-bar {
  height: 95px;
  position: relative;
  z-index: 1000;
  background-color: #ffffff;

  > .row {
    width: 100%;
  }

  .row {
    height: 100%;
  }

  .col-xs {
    flex-grow: 0;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .col-xs:nth-of-type(1) {
    flex-basis: 300px;
    justify-content: center;
  }

  .col-xs:nth-of-type(2) {
    flex-grow: 1;
  }

  .col-xs:nth-of-type(3) {
    flex-basis: 300px;
    border-left: 1px solid material-color("grey", "200");
    justify-content: flex-end;
  }

  .logo-con {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 1px 1px 1px zhilizhili-color('red');
  }

  .search-form {
    .search-group {
      border-bottom: 1px solid material-color("grey");
      input {
        border: 0;
        width: 425px;
        height: 30px;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
      button {
        border: 0;
        background-color: transparent;
        color: #ffffff;
        height: 30px;
        iron-icon {
          color: material-color("grey");
        }
      }
    }
  }

  .upload-video-button {
    height: 35px;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    left: auto;
    top: 0;
    right: 50px;
    bottom: 0;
    margin: auto;
  }

  .member {
    padding-right: 10px;
    &__action {
      margin: 0;
      padding-right: 10px;

      paper-button {
        width: 26px;
        min-width: 0;
        padding: 0;
        iron-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
    &__toggle-nav {
      width: 35px;
      padding: 0;
      margin-right: 20px;
      min-width: 0;
      color: material-color("grey");
    }
  }

  .nav-menu {
    width: 300px;
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 1;
    border-top: 1px solid material-color("grey", "200");
    @include nav-content();
  }

  .user-menu {
    width: 300px;
    position: absolute;
    right: 0;
    top: 95px;
    z-index: 1;
    border-top: 1px solid material-color("grey", "200");
    background-color: #f7f8fa;
    @include nav-content();
  }
}