
body {	
	background-color: #FFF;
}

#attention {
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, 'ƒƒCƒŠƒI', sans-serif;
	font-size: 8px;
	color: #FFF;
	line-height: 140%;
	font-weight: normal;
}

#copyright {
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, 'ƒƒCƒŠƒI', sans-serif;
	font-size: 8px;
	color: #FFF;
	font-weight: normal;
}
