#articleNav {
  width: 100%;
  height: 41px;
  line-height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #c4e2f4; }
  #articleNav a {
    color: white;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 3px #9376f8;
    text-decoration: none; }
    #articleNav a:hover {
      color: #ffffff;
      border-bottom: 3px solid #f0a5b4; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
main {
  width: 1200px;
  margin: 0 auto; }

.video-up {
  padding-top: 15px;
  padding-bottom: 15px; }
  .video-up .video-up-name {
    font-size: 24px;
    color: #f44336; }

.video-title {
  margin-top: 15px;
  margin-bottom: 0; }

.video-play {
  width: 100%; }
  .video-play lfx-player {
    width: 854px;
    height: 480px;
    background-color: #000000; }
    .video-play lfx-player > .lfx-player {
      width: 100%;
      height: 100%; }
    .video-play lfx-player video {
      width: 100%;
      height: 100%; }
    .lfx-player {
      cursor: pointer; }
      .lfx-player__controlbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        width: 370px;
        height: 40px;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .lfx-player__volume {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .lfx-player__volume #videovolume + .rangeSlider {
          margin-left: 10px;
          width: 90px; }
      .lfx-player__toggle {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
      .lfx-player__list {
        position: absolute;
        top: 50%;
        right: 45px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .lfx-player__full {
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .lfx-player__progress {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
        .lfx-player__progress #videorange + .rangeSlider .rangeSlider__fill {
          z-index: 2; }
        .lfx-player__progress #videoprogress + .rangeSlider {
          top: -3px; }
          .lfx-player__progress #videoprogress + .rangeSlider .rangeSlider__handle {
            display: none; }
          .lfx-player__progress #videoprogress + .rangeSlider .rangeSlider__fill {
            z-index: 1;
            background: #a6bced; }
  .video-play lfx-player.mouseenter > .lfx-player {
    cursor: pointer; }
    .video-play lfx-player.mouseenter > .lfx-player .lfx-player__controlbar {
      opacity: 1; }
    .video-play lfx-player.mouseenter > .lfx-player .lfx-player__progress {
      opacity: 1; }
  .video-play lfx-player.mouseleave > .lfx-player {
    cursor: pointer; }
    .video-play lfx-player.mouseleave > .lfx-player .lfx-player__controlbar {
      opacity: 0; }
    .video-play lfx-player.mouseleave > .lfx-player .lfx-player__progress {
      opacity: 0; }

.video-danmu {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-basis: 331px;
  -ms-flex-preferred-size: 331px;
  flex-basis: 331px; }

.modal {
  z-index: 9999; }
  .modal--default {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff; }

.btn {
  float: left;
  width: 45px;
  height: 20px;
  background-color: #0091ea;
  color: #ffffff;
  text-align: center;
  margin-left: 10px; }

.gallery--default .gallery__slider {
  width: 950px;
  height: 520px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(207, 127, 14, 0.66); }
.gallery--default .gallery__thumbnail-control {
  width: 1200px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto; }
  .gallery--default .gallery__thumbnail-control > .simple-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
.gallery--default .gallery__thumbnail {
  display: block;
  width: 240px;
  height: 150px;
  border: 7px solid transparent;
  background-color: rgba(95, 150, 95, 0.55);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .gallery--default .gallery__thumbnail.active {
    border-color: #2196f3; }



/*# sourceMappingURL=../map/article/show.css.map */
