#articleNav {
  width: 100%;
  height: 41px;
  line-height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #c4e2f4; }
  #articleNav a {
    color: white;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 3px #9376f8;
    text-decoration: none; }
    #articleNav a:hover {
      color: #ffffff;
      border-bottom: 3px solid #f0a5b4; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
paper-button[link-button] > a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none; }

paper-button[primary] {
  background-color: #f44336;
  color: #ffffff; }

html {
  font-size: 12px; }

body {
  font-size: 16px; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0; }

lfx-player {
  width: 100%;
  height: 480px;
  background-color: #000000; }
  lfx-player > .lfx-player {
    width: 100%;
    height: 100%; }
  lfx-player video {
    width: 100%;
    height: 100%; }
  .lfx-player {
    cursor: pointer; }
    .lfx-player__controlbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      width: 370px;
      height: 40px;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .lfx-player__volume {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .lfx-player__volume #videovolume + .rangeSlider {
        margin-left: 10px;
        width: 90px; }
    .lfx-player__toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .lfx-player__list {
      position: absolute;
      top: 50%;
      right: 45px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .lfx-player__full {
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .lfx-player__progress {
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      .lfx-player__progress #videorange + .rangeSlider .rangeSlider__fill {
        z-index: 2; }
      .lfx-player__progress #videoprogress + .rangeSlider {
        top: -3px; }
        .lfx-player__progress #videoprogress + .rangeSlider .rangeSlider__handle {
          display: none; }
        .lfx-player__progress #videoprogress + .rangeSlider .rangeSlider__fill {
          z-index: 1;
          background: #a6bced; }

lfx-player.mouseenter > .lfx-player {
  cursor: pointer; }
  lfx-player.mouseenter > .lfx-player .lfx-player__controlbar {
    opacity: 1; }
  lfx-player.mouseenter > .lfx-player .lfx-player__progress {
    opacity: 1; }

lfx-player.mouseleave > .lfx-player {
  cursor: pointer; }
  lfx-player.mouseleave > .lfx-player .lfx-player__controlbar {
    opacity: 0; }
  lfx-player.mouseleave > .lfx-player .lfx-player__progress {
    opacity: 0; }

.focus-button {
  background-color: #2196f3;
  color: #ffffff;
  padding: 3px 6px;
  font-size: 14px;
  font-size: 1.16667rem; }
  .focus-button .focus-button__icon {
    position: relative;
    top: -1px; }

.media-player {
  margin-bottom: 15px;
  position: relative; }
  .media-player--default .media-player__inner {
    width: 1280px;
    margin: 0 auto; }
    .media-player--default .media-player__inner::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url("/assets/img/test-media-player-bg.jpg");
      -webkit-filter: brightness(30%);
      filter: brightness(30%);
      z-index: -1; }
  .media-player--default .media-player__play {
    width: 854px; }
  .media-player--default .media-player__list {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    height: 480px;
    overflow: auto;
    color: #ffffff; }

.panel .panel__inner {
  width: 1280px;
  margin: 0 auto; }
.panel .panel__main {
  width: 854px; }
.panel .panel__aside {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.timeline-inner {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease; }

.vis-timeline {
  border: 0; }

.vis-timeline .vis-time-axis .vis-major {
  display: none; }

.vis-time-axis .vis-grid.vis-vertical {
  height: 22px !important;
  top: auto !important;
  bottom: 0 !important; }

.timeline-wrapper {
  width: 1000px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 20px;
  margin: auto; }

.modal {
  -webkit-transition: opacity 1.0s ease;
  transition: opacity 1.0s ease;
  color: #ffffff; }
  .modal--default {
    opacity: 1;
    z-index: 999; }
  .modal--hide {
    opacity: 0;
    z-index: -1; }
  .modal .modal__close {
    position: absolute;
    right: 15px;
    top: 15px; }

.gallery--default .gallery__slider {
  width: 950px;
  height: 520px;
  margin: 0 auto;
  margin-top: 30px; }
  .gallery--default .gallery__slider slider-item:nth-of-type(1) {
    background-color: rgba(167, 105, 18, 0.78); }
  .gallery--default .gallery__slider slider-item:nth-of-type(2) {
    background-color: rgba(40, 123, 104, 0.63); }
  .gallery--default .gallery__slider slider-item:nth-of-type(3) {
    background-color: rgba(251, 187, 104, 0.47); }
  .gallery--default .gallery__slider slider-item:nth-of-type(4) {
    background-color: rgba(64, 92, 234, 0.05); }
  .gallery--default .gallery__slider slider-item:nth-of-type(5) {
    background-color: rgba(17, 74, 10, 0.87); }
  .gallery--default .gallery__slider slider-item:nth-of-type(6) {
    background-color: rgba(249, 25, 41, 0.31); }
.gallery--default .gallery__thumbnail-control {
  width: 1280px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto; }
  .gallery--default .gallery__thumbnail-control > .simple-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
.gallery--default .gallery__thumbnail {
  display: block;
  width: 240px;
  height: 150px;
  border: 7px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .gallery--default .gallery__thumbnail.active {
    border-color: #2196f3; }
  .gallery--default .gallery__thumbnail:nth-of-type(1) {
    background-color: rgba(49, 214, 118, 0.2); }
  .gallery--default .gallery__thumbnail:nth-of-type(2) {
    background-color: rgba(255, 46, 146, 0.42); }
  .gallery--default .gallery__thumbnail:nth-of-type(3) {
    background-color: rgba(105, 10, 178, 0.31); }
  .gallery--default .gallery__thumbnail:nth-of-type(4) {
    background-color: rgba(167, 96, 222, 0.54); }
  .gallery--default .gallery__thumbnail:nth-of-type(5) {
    background-color: rgba(169, 119, 240, 0.1); }
  .gallery--default .gallery__thumbnail:nth-of-type(6) {
    background-color: rgba(87, 197, 225, 0.28); }

.video-figure--default {
  margin: 0;
  width: 100%;
  margin-top: 20px; }
  .video-figure--default:first-child {
    margin-top: 0; }
  .video-figure--default .video-figure__img {
    display: block;
    width: 179px;
    height: 100.6875px;
    background-color: rgba(151, 155, 234, 0.76);
    position: relative; }
  .video-figure--default .video-figure__time {
    padding: 5px 8px;
    border-radius: 12px;
    background: #9e9e9e;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    right: 7px;
    top: 7px; }
  .video-figure--default .video-figure__title {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-size: 1.5rem; }
  .video-figure--default .video-figure__origin {
    margin-left: 10px;
    color: #9e9e9e; }

.user--default {
  position: relative; }
  .user--default .user__logo {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #9e9e9e;
    position: absolute;
    left: 0; }
  .user--default .user__name {
    margin-left: 70px;
    margin-bottom: 10px; }
  .user--default .user__action {
    margin-left: 70px;
    margin-bottom: 10px; }

.member--default {
  position: relative; }
  .member--default .member__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9e9e9e; }
  .member--default .member__action {
    color: #9e9e9e; }

.dropdown-menu--close {
  display: none; }
.dropdown-menu--open {
  display: block; }

.main-content .panel__main paper-card {
  width: 100%;
  margin-bottom: 15px; }
.main-content .panel__aside paper-card {
  width: calc(100% - 15px);
  margin-left: 15px; }

.video-info-card .header.paper-card .title-text.paper-card {
  padding-bottom: 0; }

.timeline-modal {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 0; }

.nav-menu {
  width: 300px;
  position: absolute;
  left: 0;
  top: 95px;
  z-index: 1;
  border-top: 1px solid #eeeeee; }
  .nav-menu paper-card {
    width: 100%;
    border: 0;
    box-shadow: none;
    background-color: #f7f8fa;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .nav-menu paper-card paper-material {
      border-radius: 0 !important;
      box-shadow: none !important; }
    .nav-menu paper-card .header.paper-card .title-text.paper-card {
      padding-bottom: 0;
      color: #f44336;
      font-size: 16px;
      font-size: 1.33333rem; }
    .nav-menu paper-card .card-content {
      padding-top: 10px;
      padding-bottom: 10px; }
  .nav-menu paper-menu {
    background-color: #f7f8fa; }

.user-menu {
  width: 300px;
  position: absolute;
  right: 0;
  top: 95px;
  z-index: 1;
  border-top: 1px solid #eeeeee;
  background-color: #f7f8fa; }
  .user-menu paper-card {
    width: 100%;
    border: 0;
    box-shadow: none;
    background-color: #f7f8fa;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .user-menu paper-card paper-material {
      border-radius: 0 !important;
      box-shadow: none !important; }
    .user-menu paper-card .header.paper-card .title-text.paper-card {
      padding-bottom: 0;
      color: #f44336;
      font-size: 16px;
      font-size: 1.33333rem; }
    .user-menu paper-card .card-content {
      padding-top: 10px;
      padding-bottom: 10px; }
  .user-menu paper-menu {
    background-color: #f7f8fa; }



/*# sourceMappingURL=../map/article/show.css.map */
