#articleNav {
  width: 100%;
  height: 41px;
  line-height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #c4e2f4; }
  #articleNav a {
    color: white;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 3px #9376f8;
    text-decoration: none; }
    #articleNav a:hover {
      color: #ffffff;
      border-bottom: 3px solid #f0a5b4; }

.videos {
  padding: 15px; }
  .videos .video {
    height: 173px; }
    .videos .video .info {
      display: none; }

.video:nth-child(1) {
  background-color: rgba(65, 55, 173, 0.58); }

.video:nth-child(2) {
  background-color: rgba(239, 87, 49, 0.11); }

.video:nth-child(3) {
  background-color: rgba(98, 217, 165, 0.84); }

.video:nth-child(4) {
  background-color: rgba(98, 46, 179, 0.58); }

.video:nth-child(5) {
  background-color: rgba(228, 126, 151, 0.28); }

.video:nth-child(6) {
  background-color: rgba(74, 84, 21, 0.1); }

.video:nth-child(7) {
  background-color: rgba(73, 254, 143, 0.63); }

.video:nth-child(8) {
  background-color: rgba(55, 122, 239, 0.07); }

.video:nth-child(9) {
  background-color: rgba(161, 76, 251, 0.29); }

.video:nth-child(10) {
  background-color: rgba(187, 97, 58, 1); }

.video:nth-child(11) {
  background-color: rgba(181, 77, 104, 0.31); }

.video:nth-child(12) {
  background-color: rgba(215, 60, 16, 0.08); }

.video:nth-child(13) {
  background-color: rgba(157, 233, 42, 0.85); }

.video:nth-child(14) {
  background-color: rgba(56, 156, 99, 0.51); }

.video:nth-child(15) {
  background-color: rgba(206, 104, 175, 0.48); }

.video:nth-child(16) {
  background-color: rgba(13, 57, 87, 0.96); }

.videoshow {
  padding-top: 15px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-basis: 345px;
  -ms-flex-preferred-size: 345px;
  flex-basis: 345px;
  background-color: rgba(248, 75, 145, 0.02); }
  .videoshow lfx-player {
    width: 100%; }
    .videoshow lfx-player video {
      width: 100%; }
  .videoshow .video-info {
    margin-top: 15px; }

.lfx-player__controlbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 40px; }
.lfx-player__volume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .lfx-player__volume paper-slider {
    width: 120px; }
    .lfx-player__volume paper-slider .expand:not(.pin) > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
      width: 20px;
      height: 20px; }
.lfx-player__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
.lfx-player__list {
  position: absolute;
  top: 50%;
  right: 45px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.lfx-player__full {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.paignation paper-button {
  width: 55px;
  min-width: 0;
  padding-left: 0;
  padding-right: 0; }
  .paignation paper-button a {
    text-decoration: none; }
  .paignation paper-button:hover {
    background-color: #51a8dd; }
    .paignation paper-button:hover a {
      color: #ffffff; }



/*# sourceMappingURL=../../maps/css/article/index.css.map */
